* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #344e41ff;
  color: #dad7cdff;
}

.dino-gallery-container {
  margin: 32px auto;
  width: 90%;
}

.dino-gallery-container .card {
  display: flex;
  margin: 64px auto;
  align-items: center;
}

.dino-gallery-container .card .dino-info {
  max-width: 60%;
}

.dino-gallery-container .card h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #a3b18aff;
  margin-bottom: 16px;
}

.dino-gallery-container .card .dino-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

}

.dino-gallery-container .card .dino-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1);
  transition: transform 300ms;
}

.dino-gallery-container .card .dino-photo img:hover {
  transform: scale(1.1);
}
